/* app css stylesheet */

body {
  padding-top: 0em;padding-left:1em; padding-right:0em; 
}

p {
	font-size: 2em;
}

button {
	font-size: 1em;
}


#msg_area{
	float: left;
	width: 30em;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border: 1px solid silver;
    background-color:white;
    box-shadow: 0px 0px 5px #000;
}

#cmd_area{
	float: left;

    margin: 5px 5px 5px 5px;
    padding: 5px;
    border: 1px solid silver;
    background-color:white;
    box-shadow: 0px 0px 5px #000;
}

.err_msg{
	font-size: 1.2em;
	color: red;

    margin: 5px 5px 5px 5px;
    padding: 5px;
    border: 1px solid silver;
    background-color:white;
    box-shadow: 0px 0px 5px #000;
}

#debug_area{
	font-size: 1em;
    width: 30em;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border: 1px solid silver;
    background-color:white;
    box-shadow: 0px 0px 5px #000;
    
    right:0px;
    bottom:0px;
    position:fixed;
}
#debug_area input {
	font-size: 1em;
}

